@{
    ViewData["Title"] = "Offre D'emploi";
}

@section styles {
    <style>
        .primary-button {
            margin-top: 0
        }

        ul {
            all: revert;
        }
    </style>
}

<div class="container">
    <div class="content-container">
        <h2>Descriptif du poste :</h2>

        <p>Au sein d’une équipe projet fonctionnant en mode collaboratif et Agile scrum, vous serez l’un des développeurs, travaillant en coordination avec le Product-Owner/Proxy Product Owner, le Scrum Master, et équipes partenaires.</p>

        <h3>Dans ce contexte Agile, vous effectuerez différentes tâches :</h3>
        <p>
            L’estimation du niveau d’effort de développement des User stories
            La définition des spécifications détaillées à partir des User stories
            Le développement selon une architecture logicielle établie
            La conduite des tests unitaires et d’intégration 2 à 2
            Participation Le développement des outillages de test associés
            L’automatisation et l’industrialisation des opérations régulières (process de build, les tests, les audits de qualité de code, la containerisation du code, …)
            La préparation des packages de livraison (mode devops)
            Le déploiement sur les environnements d’intégration et de production
            Le support technique et la maintenance corrective et adaptative des éléments délivrés sur les environnements d’intégration et de production
            Vous êtes en relation avec le Product Owner pour gérer le backlog et définir les US
        </p>
        <h3>Profil recherché :</h3>

        <p>
            Vous avez une formation Bac+5 Ingénieur/Master 2 en développement logiciel.
            Vous justifiez d'une expérience de 3 ans minimum dans le développement .Net
            Vous savez présenter une solution disruptive, argumenter, convaincre et travailler dans un environnement complexe
            <br />
            Vous adhérez aux valeurs de l'agilité, et vous maitrisez les outils de gestion agiles et collaboratifs tels que JIRA / Confluence
            <br />
            Vous avez une forte appétence pour le travail en équipe tout en étant autonome et flexible, avec une bonne aisance relationnelle
            <br />
            Vous savez écouter le client et ses utilisateurs, et traduire ses besoins en exigences ou propositions de solution à travers une architecture logicielle adaptée
            <br />
            Vos connaissances dans le domaine des réseaux et Télécom ou « Pricing » seront très appréciées
        </p>
        <h3>Compétences requises :</h3>
        <ul>
            <li>ASP.NET / C# / ASP.NET MVC / Web API / .Net Core</li>
            <li>SOAP / JSON</li>
            <li>JavaScript / Vue.js (or similar)/ jQuery</li>
            <li>HTML / HTML5 / CSS</li>
            <li>Maitrise de l’anglais : écrit/oral</li>
        </ul>
        <h3>Compétences souhaitables :</h3>
        <ul>
            <li>Connaissances SQL/T-SQL/ Microsoft SQL Server</li>
            <li>Connaissances JSON/XML</li>
            <li>Expérience avec UML</li>
            <li>Expérience avec les systèmes de contrôle de version (Git, Team Foundation Server)</li>
            <li>Expérience en Agilité Scrum/Kanban</li>
            <li>Expériences avec Nuget, Owin, Dependency injection, Entity framework, Linq</li>
        </ul>
    </div>
    <br />
    <div><a asp-area="" asp-controller="Applications" asp-action="Apply" class="primary-button">Appliquer <i class="fa fa-arrow-right 2x"></i></a></div>
</div>